In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/tb_cat_autopart_202410211607.csv")
df

,id,id_record_status,id_company_variation,id_product,id_cat_autopart_make,id_cat_autopart_model,id_cat_autopart_engine_type,id_cat_autopart_engine_size,id_cat_autopart_notes,id_subscription,year_from,year_to,create_date,update_date,delete_date
0,18330,1,97,14109,40.0,479.0,684.0,171.0,2.0,105,2013.0,NaN,2018-03-16 21:23:41.000,NaN,NaN
1,18331,1,97,14109,40.0,479.0,685.0,172.0,2.0,105,2013.0,NaN,2018-03-16 21:23:41.000,NaN,NaN
2,18332,1,97,14109,40.0,479.0,686.0,172.0,2.0,105,2013.0,NaN,2018-03-16 21:23:41.000,NaN,NaN
3,18333,1,97,14109,40.0,479.0,687.0,171.0,2.0,105,2013.0,NaN,2018-03-16 21:23:41.000,NaN,NaN
4,18334,1,97,14109,40.0,480.0,684.0,171.0,2.0,105,2013.0,NaN,2018-03-16 21:23:41.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,23022,1,97,14253,50.0,591.0,1149.0,360.0,2.0,105,2011.0,NaN,2018-03-16 21:24:21.000,NaN,NaN
9996,23023,1,97,14253,50.0,591.0,1150.0,360.0,2.0,105,2011.0,NaN,2018-03-16 21:24:21.000,NaN,NaN
9997,23024,1,97,14253,50.0,592.0,1148.0,361.0,2.0,105,2011.0,NaN,2018-03-16 21:24:21.000,NaN,NaN
9998,23025,1,97,14253,50.0,593.0,1149.0,362.0,2.0,105,2011.0,NaN,2018-03-16 21:24:21.000,NaN,NaN
9999,23026,1,97,14253,50.0,593.0,1149.0,361.0,2.0,105,2011.0,NaN,2018-03-16 21:24:21.000,NaN,NaN

In [3]:
# Convertir la columna a tipo datetime, asumiendo que es el año
df['year_from'] = pd.to_datetime(df['year_from'], format='%Y')

# Extraer el año como entero
df['year_from'] = df['year_from'].dt.year

In [4]:
df.dtypes

id                               int64
id_record_status                 int64
id_company_variation             int64
id_product                       int64
id_cat_autopart_make           float64
id_cat_autopart_model          float64
id_cat_autopart_engine_type    float64
id_cat_autopart_engine_size    float64
id_cat_autopart_notes          float64
id_subscription                  int64
year_from                      float64
year_to                        float64
create_date                     object
update_date                    float64
delete_date                    float64
dtype: object

In [5]:
df.isnull().sum()

id                                 0
id_record_status                   0
id_company_variation               0
id_product                         0
id_cat_autopart_make             651
id_cat_autopart_model            651
id_cat_autopart_engine_type     5053
id_cat_autopart_engine_size     5053
id_cat_autopart_notes           5053
id_subscription                    0
year_from                        652
year_to                        10000
create_date                        0
update_date                    10000
delete_date                    10000
dtype: int64

In [6]:
df_drop  = ['delete_date','update_date','year_to']
df_clean = df.drop(df_drop, axis = 1)
df_clean.head()

,id,id_record_status,id_company_variation,id_product,id_cat_autopart_make,id_cat_autopart_model,id_cat_autopart_engine_type,id_cat_autopart_engine_size,id_cat_autopart_notes,id_subscription,year_from,create_date
0,18330,1,97,14109,40.0,479.0,684.0,171.0,2.0,105,2013.0,2018-03-16 21:23:41.000
1,18331,1,97,14109,40.0,479.0,685.0,172.0,2.0,105,2013.0,2018-03-16 21:23:41.000
2,18332,1,97,14109,40.0,479.0,686.0,172.0,2.0,105,2013.0,2018-03-16 21:23:41.000
3,18333,1,97,14109,40.0,479.0,687.0,171.0,2.0,105,2013.0,2018-03-16 21:23:41.000
4,18334,1,97,14109,40.0,480.0,684.0,171.0,2.0,105,2013.0,2018-03-16 21:23:41.000

In [7]:
df_clean

,id,id_record_status,id_company_variation,id_product,id_cat_autopart_make,id_cat_autopart_model,id_cat_autopart_engine_type,id_cat_autopart_engine_size,id_cat_autopart_notes,id_subscription,year_from,create_date
0,18330,1,97,14109,40.0,479.0,684.0,171.0,2.0,105,2013.0,2018-03-16 21:23:41.000
1,18331,1,97,14109,40.0,479.0,685.0,172.0,2.0,105,2013.0,2018-03-16 21:23:41.000
2,18332,1,97,14109,40.0,479.0,686.0,172.0,2.0,105,2013.0,2018-03-16 21:23:41.000
3,18333,1,97,14109,40.0,479.0,687.0,171.0,2.0,105,2013.0,2018-03-16 21:23:41.000
4,18334,1,97,14109,40.0,480.0,684.0,171.0,2.0,105,2013.0,2018-03-16 21:23:41.000
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,23022,1,97,14253,50.0,591.0,1149.0,360.0,2.0,105,2011.0,2018-03-16 21:24:21.000
9996,23023,1,97,14253,50.0,591.0,1150.0,360.0,2.0,105,2011.0,2018-03-16 21:24:21.000
9997,23024,1,97,14253,50.0,592.0,1148.0,361.0,2.0,105,2011.0,2018-03-16 21:24:21.000
9998,23025,1,97,14253,50.0,593.0,1149.0,362.0,2.0,105,2011.0,2018-03-16 21:24:21.000
9999,23026,1,97,14253,50.0,593.0,1149.0,361.0,2.0,105,2011.0,2018-03-16 21:24:21.000

In [8]:
df_clean.dtypes

id                               int64
id_record_status                 int64
id_company_variation             int64
id_product                       int64
id_cat_autopart_make           float64
id_cat_autopart_model          float64
id_cat_autopart_engine_type    float64
id_cat_autopart_engine_size    float64
id_cat_autopart_notes          float64
id_subscription                  int64
year_from                      float64
create_date                     object
dtype: object

In [9]:
#Se le aplica interpolacion al formato fecha
df_clean['year_from'].fillna(method='bfill', inplace=True)

<ipython-input-9-b37110f05596>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['year_from'].fillna(method='bfill', inplace=True)
<ipython-input-9-b37110f05596>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_clean['year_from'].fillna(method='bfill', inplace=True)

In [10]:
#Cambiamos el year_from a entero
df_clean['year_from'] = df_clean['year_from'].astype(int)
df_clean.head()

,id,id_record_status,id_company_variation,id_product,id_cat_autopart_make,id_cat_autopart_model,id_cat_autopart_engine_type,id_cat_autopart_engine_size,id_cat_autopart_notes,id_subscription,year_from,create_date
0,18330,1,97,14109,40.0,479.0,684.0,171.0,2.0,105,2013,2018-03-16 21:23:41.000
1,18331,1,97,14109,40.0,479.0,685.0,172.0,2.0,105,2013,2018-03-16 21:23:41.000
2,18332,1,97,14109,40.0,479.0,686.0,172.0,2.0,105,2013,2018-03-16 21:23:41.000
3,18333,1,97,14109,40.0,479.0,687.0,171.0,2.0,105,2013,2018-03-16 21:23:41.000
4,18334,1,97,14109,40.0,480.0,684.0,171.0,2.0,105,2013,2018-03-16 21:23:41.000

In [11]:
#convertir fechas a formato %d/%m/%Y y mantener los valores %H:%M:%S
df_clean['create_date'] = pd.to_datetime(df_clean['create_date']).dt.strftime('%Y-%m-%d %H:%M:%S')

In [12]:
#Convertirlo a formato datetime
df_clean['create_date'] = pd.to_datetime(df_clean['create_date'])

In [13]:
df_clean.dtypes

id                                      int64
id_record_status                        int64
id_company_variation                    int64
id_product                              int64
id_cat_autopart_make                  float64
id_cat_autopart_model                 float64
id_cat_autopart_engine_type           float64
id_cat_autopart_engine_size           float64
id_cat_autopart_notes                 float64
id_subscription                         int64
year_from                               int64
create_date                    datetime64[ns]
dtype: object

In [14]:
df_clean.isnull().sum()

id                                0
id_record_status                  0
id_company_variation              0
id_product                        0
id_cat_autopart_make            651
id_cat_autopart_model           651
id_cat_autopart_engine_type    5053
id_cat_autopart_engine_size    5053
id_cat_autopart_notes          5053
id_subscription                   0
year_from                         0
create_date                       0
dtype: int64

In [15]:
# Se sustituyen los valores faltantes por valores que no existen en las columnas en este caso se les da un valor de 0
df_clean['id_cat_autopart_notes'] = df_clean['id_cat_autopart_notes'].fillna(0)
df_clean['id_cat_autopart_engine_size'] = df_clean['id_cat_autopart_engine_size'].fillna(0)
df_clean['id_cat_autopart_engine_type'] = df_clean['id_cat_autopart_engine_type'].fillna(0)
df_clean['id_cat_autopart_model'] = df_clean['id_cat_autopart_model'].fillna(0)
df_clean['id_cat_autopart_make'] = df_clean['id_cat_autopart_make'].fillna(0)

In [16]:
df_clean.isnull().sum()

id                             0
id_record_status               0
id_company_variation           0
id_product                     0
id_cat_autopart_make           0
id_cat_autopart_model          0
id_cat_autopart_engine_type    0
id_cat_autopart_engine_size    0
id_cat_autopart_notes          0
id_subscription                0
year_from                      0
create_date                    0
dtype: int64

In [17]:
df_clean.dtypes

id                                      int64
id_record_status                        int64
id_company_variation                    int64
id_product                              int64
id_cat_autopart_make                  float64
id_cat_autopart_model                 float64
id_cat_autopart_engine_type           float64
id_cat_autopart_engine_size           float64
id_cat_autopart_notes                 float64
id_subscription                         int64
year_from                               int64
create_date                    datetime64[ns]
dtype: object